{% extends "base.html" %}

{% block container %}
    <div class="content_principal container" id="home_content">
      <ul class="menu_lateral">
        <li>
          <input type="radio" name="tab" id="tab-1" checked>
          <label class="produtos" for="tab-1">Açaí</label>
          <section id="bg_1" class="conteudo">
            <div class="row">
              <div class="col-sm-12">
                <h3>Açaí R$3,80 (100g)</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <h6>&nbsp <b>Tamanhos:</b></h6>
                <p>&nbsp &nbsp mini (300ml)</p>
                <p>&nbsp &nbsp pequeno (400ml)</p>
                <p>&nbsp &nbsp Grande (900ml)</p>
                <br>
                <h6>&nbsp <b>Caldas:</b></h6>
                <p>&nbsp &nbsp Caramelo</p>
                <p>&nbsp &nbsp Chocolate</p>
                <p>&nbsp &nbsp Morango</p>
                <p>&nbsp &nbsp Leite condensado</p>
              </div>
              <div class="col-sm-6">
                <h6>&nbsp <b>Complemento:</b></h6>
                <p>&nbsp &nbsp Morango/Banana</p>
                <p>&nbsp &nbsp Manga/Uva</p>
                <p>&nbsp &nbsp Granola/Avela</p>
                <p>&nbsp &nbsp Coco Ralado</p>
                <p>&nbsp &nbsp Paçoca</p>
                <p>&nbsp &nbsp Castanha</p>
                <p>&nbsp &nbsp Flocos de Arroz</p>
              </div>
            </div>
          </section>
        </li>
        <li class="item_lateral">
          <input type="radio" name="tab" id="tab-2">
          <label class="produtos" for="tab-2">Vitaminas</label>
          <section id="bg_2" class="conteudo">
            <div class="row">
              <div class="col-sm-12">
                <h3>Vitamina</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <h6>&nbsp <b>Tamanhos:</b></h6>
                <p>&nbsp &nbsp mini (300ml) - R$ 4,00</p>
                <p>&nbsp &nbsp pequeno (400ml) - R$ 6,00</p>
                <p>&nbsp &nbsp Grande (900ml) - R$ 8,00</p>
                <br>
                <h6>&nbsp <b>Sabores:</b></h6>
                <div class="row">
                  <div class="col-sm-4">
                    <p>&nbsp &nbsp Maracujá</p>
                    <p>&nbsp &nbsp Morango</p>
                    <p>&nbsp &nbsp Banana</p>
                  </div>
                  <div class="col-sm-4">
                    <p>&nbsp &nbsp Manga</p>
                    <p>&nbsp &nbsp Cajá</p>
                    <p>&nbsp &nbsp Abacate</p>
                  </div>
                  <div class="col-sm-4">
                    <p>&nbsp &nbsp Graviola</p>
                    <p>&nbsp &nbsp Acerola</p>
                    <p>&nbsp &nbsp Mamão</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </li>
        <li>
          <input type="radio" name="tab" id="tab-3">
          <label class="produtos" for="tab-3">Sorvetes</label>
          <section id="bg_3" class="conteudo">
            <div class="row">
              <div class="col-sm-12">
                <h3>Sorvete</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <h6>&nbsp <b>Tamanhos:</b></h6>
                <p>&nbsp &nbsp Taça mini (5 Bolas) - R$ 5,00</p>
                <p>&nbsp &nbsp Taça Grande (8 Bolas) - R$ 8,00</p>
                <br>
                <h6>&nbsp <b>Sabores:</b></h6>
                <div class="row">
                  <div class="col-sm-4">
                    <p>&nbsp &nbsp Maracujá</p>
                    <p>&nbsp &nbsp Morango</p>
                    <p>&nbsp &nbsp Tapioca</p>
                  </div>
                  <div class="col-sm-4">
                    <p>&nbsp &nbsp Manga</p>
                    <p>&nbsp &nbsp Cajá</p>
                    <p>&nbsp &nbsp Goiaba</p>
                  </div>
                  <div class="col-sm-4">
                    <p>&nbsp &nbsp Graviola</p>
                    <p>&nbsp &nbsp Chocolate</p>
                    <p>&nbsp &nbsp Flocos</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <h6>&nbsp <b>Caldas:</b></h6>
                <p>&nbsp &nbsp Caramelo</p>
                <p>&nbsp &nbsp Chocolate</p>
                <p>&nbsp &nbsp Morango</p>
                <p>&nbsp &nbsp Kiwi</p>
              </div>
            </div>
          </section>
        </li>
      </ul>
    </div>
{% endblock container %}