{% extends "base.html" %}

{% block container %}
    <div class="content_principal container">
        <div class="row ">
            <div class="col-md-12 text-center"><h1>Localização</h1></div>
            
        </div>
        <div class="row">
            <div class="col-md-6">

                <div class="container">
            
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h5>Rua Major Facundo, 500 - Centro,</h5> 
                            <h5>Fortaleza - CE, 60025-100</h5>                     
                            <h5>Tel.: (85) 9 9856-6485</h5>
                        </div>
                    </div>  
                </div>
            </div>
            <div class="col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15925.510395320658!2d-38.5279906!3d-3.7275841!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1f7e93
                171e3d7174!2sUniversidade+do+Trabalho+Digital!5e0!3m2!1spt-BR!2sbr!4v1516469705007" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div> 
        </div>       
    </div>
{% endblock container %}