*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px;
}
.navbar_color{
  -moz-box-shadow: 0 0 10px 10px #ccc;
  -webkit-box-shadow: 0 0 10px 10px#ccc;
  box-shadow: 0 0 10px 10px #ccc;
  background: #a14ece;
}
.navbar_color a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}
.navbar_color a:hover{
  color: #E4CFEF;
}
#home_content{
  height: 500px;
}
.content_principal{
  background: linear-gradient(90deg, #F5EAFA, #F5EAFA);
  padding: 40px;
  margin: 50px 40px 50px 40px;
 

  -moz-box-shadow: 0 0 10px 10px #ccc;
  -webkit-box-shadow: 0 0 10px 10px#ccc;
  box-shadow: 0 0 10px 10px #ccc;

}
.menu_lateral{
  list-style: none;
  font-size: 0;
  width: 100px;
  position: relative;
}
.menu_lateral li{
 display: inline-block;
 width: 100%;

}
.conteudo::after{
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0.2;
}
#bg_1::after{
  background-image: url("http://blog.vitaminworld.com/wp-content/uploads/2016/08/Copy-of-PBJ-Acai-Recipe-1.jpg");
}
#bg_2::after{
  background-image: url("http://imirante.com/imagens/2016/01/27/1453914132-105725818.jpg");
}
#bg_3::after{
  background-image:url("https://receitatodahora.com.br/wp-content/uploads/2015/10/sorvete.jpg");
}
.normal-opacity{
    opacity: 1;
}
.conteudo{
  display: none;
  margin-left: 50px;
  padding: 20px;
  position: absolute;
  background-size: 500px 500px;
  background-repeat: no-repeat;
  top: 0;
  left: 50px;
  width: 500px;
  height: 400px;

  border-left: 3px solid #EFDEF7;
}
.produtos{
  cursor: pointer;
  display: block;
  padding: 10px;
  background: #E4CFEF;
  text-align: center;
  font-size: 12px;
  color: #fff;
}
input{
  display: none;
}
input:checked ~ label{
      background: #EFDEF7;
      color: #fff;
}
input:checked ~ section{
      display: block;
}

.footer{
  background: #a14ece;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 15px;
  width: 100%;
}
@media screen and (max-width: 568px) {
  .footer{
    position: static;
  }
}
